<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="LogingForm.Properties.Settings.Paramètre" connectionString="Data Source=Adel-PC;Initial Catalog=loginTest;User ID=adel;Password=adel"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>